.slider {
  width: 100%;
  max-width: 135rem;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  margin-top: -8rem;
  z-index: 10;
  position: relative;
  background-color: #5a5a64e5;
  z-index: 900;
  animation: onload 2s forwards;

  &:after {
    content: "";
    height: 15px;
    position: absolute;
    border-right: 2px solid $color-after-bottom;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
  ///////////////////////////////////////////////

  .slider__font {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    &::after {
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #5a5a64;
      z-index: 900;
      position: absolute;
      animation: sliderImage 1s forwards;
      animation-delay: 1s;
    }
    .slider__font--img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      background-size: cover;
      background-color: #5a5a64e5;
      opacity: 0.3;
    }
  }

  &__slide {
    width: 66%;
    height: 88%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 901;
    overflow: hidden;
    animation: imgSlider 0.2s forwards;
    animation-delay: 2s;
    opacity: 0;
    &--dot {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      z-index: 999;
      gap: 2.5rem;
      bottom: 2rem;
      left: -1rem;
      .dot {
        width: 2rem;
        border-bottom: 2px solid rgb(175, 169, 169);
        transition: all 0.5s;
      }
      .dotActive {
        width: 4rem;
        border-bottom: 2px solid rgb(84, 27, 142);
        transition: all 0.5s;

      }
    }
    &--item {
      display: flex;
      width: max-content;
      height: 100%;
      z-index: 910;
      position: absolute;

      &--img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.3;
          transition: all 0.5s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &--opacity {
      width: 100%;
      height: 100%;
      z-index: 905;
      background-color: #5a5a64;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
    }

    button {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: $color-button-slider;
      position: absolute;
      transition: all 0.5s;
      z-index: 999;
      cursor: pointer;
      &:hover {
        background-color: $color-button-hover-slider;
      }
      i {
        color: white;
        font-size: 1.6rem;
      }
    }
    #prev {
      bottom: 10rem;
      right: 2rem;
    }
    #next {
      bottom: 3rem;
      right: 2rem;
    }
  }
  .slider__slide--heading {
    position: absolute;
    font-family: Roboto, sans-serif;
    font-weight: 50;
    text-transform: uppercase;
    z-index: 998;
    color: $color-text-title-slider;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    font-size: 6rem;
    animation: textSlider 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }
}

.moveRight {
  animation: moveRight 3s;
}
.moveLeft {
  animation: moveLefr 1s;
}
.activeabc {
  z-index: 999;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 255, 13);
  }
}
@keyframes onload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sliderImage {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
@keyframes textSlider {
  0% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
@keyframes imgSlider {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
