////header///
$font-color: #f2e8e8;
$font-hover-text-color:#ba51ef;
$font-color-text-icon: #4c4444eb;
$color-background-white: #f7f2f2;



///slider///
$color-text-title-slider:rgb(214, 200, 200);
$color-button-slider:#b3b5af67;
$color-button-hover-slider:#7042b1;

$color-after-bottom: #410b4c;


//introduce////////////////
$color-text-h2-introduce:#978ed1;
$color-text-h2:#978ed1;


////show

$color-background-show: #F5F4F6;


$color-background-product_hot: #353943;